<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="email-container" style="margin:10px auto;background: linear-gradient(to right, #ddd, #eee);width: 400px;min-height: 30vh;padding: 20px;border-radius: 10px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <div class="email-logo">
        <h1 style="font-weight: 900;font-size: 14px;letter-spacing: 3px;text-transform: uppercase;font-family: Verdana;color: #503f8e;text-shadow: 0px 0px 3px #ccc;">International Reserved Bank</h1>
    </div>

    <div class="message" style="margin: 30px 0px 0px 0px;">
          <h2 style="font-family: Verdana;font-weight: 800;font-size: 1rem;">Hi,{{testname }} </h2>
        <p style="line-height: 3;text-shadow: 0px 0px 10px #fff;color: #333; letter-spacing: 2px;font-weight: 700;font-family: verdana;font-size: .8rem;">

            {{message}}
        </p>
    </div>
</div>
    
</body>
</html>